@import "_mixin";

main{
  .hidden{
    display: none;
  }
  .main-visual{
    .main-visual-slider{
      position: relative;
      height: 980px;
      .swiper-slide{
      
        &.ferrero{
          background: url('../imgs/main03.png') no-repeat;
          background-size: cover;
          background-position: center;
        }
        &.nutella{
          background: url('../imgs/main02.png') no-repeat;
          background-size: cover;
          background-position: center;
        }
        &.tictac{
          background: url('../imgs/main01.png') no-repeat;
          background-size: cover;
          background-position: center;
        }

        .slide-txt{
          width: 1320px;
          max-width: 80%;
          margin: 0 auto;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          color: #fff;
          @include font_2;
          h3{
            font-size: 36px;
            font-weight: 600;
            margin-bottom: .5em;
          }
          p{
            @include font_1;
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 2em;
          }
          a{
            @include font_1;
            color: #fff;
            padding: 10px 24px;
            border: 1px solid #fff;
          }

        }
      }
      .swiper-pagination{
        position: absolute;
        bottom: 5%;
      }
      .swiper-pagination-bullet{
        margin: 0 .5rem;
        width: 15px;
        height: 15px;
        background: #fff;
      }
      .swiper-pagination-bullet-active{
        background: #D1B776;
      }
    }
  }

  .about{
    @include font_1;
    .about-txt{
      padding: 4rem 0 4.5rem;
      text-align: center;
      h3{
        margin-bottom: 24px;
        font-size: 20px;
        font-weight: bold;
        color: #333;
      }
      p{
        color: #777;
        line-height: 1.5em;
      }
    }
    .approach{
      width: 1320px;
      margin: 0 auto 100px;
      max-width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      >div{
        width: 25%;
        height: 680px;
        .app-txt{
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 11;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          text-align: center;
          @include font_1;
          color: #fff;
          transition: all .3s;
          opacity: 0;
          visibility: hidden;
          >*{
          }
          &.on{
            opacity: 1;
            visibility: visible;
          }
          h3{
            font-size: 30px;
            padding: 1em 0 .5em;
            
            
            // background-color: rgba(0, 0, 0, 0.7);
          }
          p{
            padding: 30px;
            font-size: 14px;
            line-height: 2em;
            font-weight: 300;
            // background-color: rgba(0, 0, 0, 0.7);
          }
          a{
            padding: 1rem 1.5rem;
            color: #fff;
            text-decoration: underline;
            // background-color: rgba(0, 0, 0, 0.7);
          }
        }
        &.nature{
          position: relative;
          background: url('../imgs/app1.png') no-repeat;
          background-size: cover;
          background-position: center;
          &::before{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 10;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.9);
            background-image: url('../imgs/app1.png'); /* 색상 오버레이 이미지 설정 */
            background-size: cover;
            background-position: center;
            filter: grayscale(100%); /* 초기에 흑백으로 설정 */
            transition: filter 0.5s; /* 트랜지션 효과를 추가하여 부드러운 변화 */
          }
          &:hover::before{
            filter: grayscale(0%);
          }
        }
        &.metarial{
          position: relative;
          background: url('../imgs/app2.png') no-repeat;
          background-size: cover;
          background-position: center;
          &::before{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 10;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.9);
            background-image: url('../imgs/app2.png'); /* 색상 오버레이 이미지 설정 */
            background-size: cover;
            background-position: center;
            filter: grayscale(100%); /* 초기에 흑백으로 설정 */
            transition: filter 0.5s; /* 트랜지션 효과를 추가하여 부드러운 변화 */
          }
          &:hover::before{
            filter: grayscale(0%);
          }
        }
        &.explosive{
          position: relative;
          background: url('../imgs/app3.png') no-repeat;
          background-size: cover;
          background-position: center;
          &::before{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 10;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.9);
            background-image: url('../imgs/app3.png'); /* 색상 오버레이 이미지 설정 */
            background-size: cover;
            background-position: center;
            filter: grayscale(100%); /* 초기에 흑백으로 설정 */
            transition: filter 0.5s; /* 트랜지션 효과를 추가하여 부드러운 변화 */
          }
          &:hover::before{
            filter: grayscale(0%);
          }
        }
        &.together{
          position: relative;
          background: url('../imgs/app4.png') no-repeat;
          background-size: cover;
          background-position: center;
          &::before{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 10;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.9);
            background-image: url('../imgs/app4.png'); /* 색상 오버레이 이미지 설정 */
            background-size: cover;
            background-position: center;
            filter: grayscale(100%); /* 초기에 흑백으로 설정 */
            transition: filter 0.5s; /* 트랜지션 효과를 추가하여 부드러운 변화 */
          }
          &:hover::before{
            filter: grayscale(0%);
          }
        }
      }
    }
  }
  .history{
    padding: 100px 0 200px;
    // background: url('/imgs/sc3-bg.png') no-repeat;
    background-size: cover;
    background-position: center;
    .history-bg{
      height: 620px;
      background: url('../imgs/sc3-his.png') no-repeat;
      background-size: cover;
      background-position: center;

      .history-txt-box{
        width: 1320px;
        max-width: 80%;
        margin: 0 auto;
        .history-txt{
          padding: 30px;
          display: inline-block;
          background: #111;
          color: #fff;

          .history-slider{
            position: relative;
            width: 500px;
            display: inline-block;
            .swiper-slide{
              h3{
                position: relative;
                font-size: 40px;
                padding-bottom: 30px;
                margin-bottom: 30px;
                &::after{
                  content: "";
                  display: block;
                  width: 50%;
                  position: absolute;
                  bottom: 0;
                  height: 1px;
                  background: #fff;
                }
              }
              p{
                line-height: 1.5em;
                &:last-of-type{
                  margin-bottom: 2rem;
                }
              }
              a{
                color: #fff;
                text-decoration: underline;
                line-height: 1.5em;
              }
              .swiper-button-prev{
                position: absolute;
                bottom: 0 !important;
                right: 0;
              }
            }
          }
        }
      }
    }
  }
  .special{
    // background: #171717;
    .inner{
      background: rgba(0, 0, 0, 0.05);
      width: 1320px;
      max-width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include font_1;
      .sp-txt{
        padding: 50px;
        width: 100%;
        .sp-hd{
          h3{
            position: relative;
            font-size: 40px;
            padding-bottom: 30px;
            margin-bottom: 20px;
            color: #333;
            &::after{
              content: "";
              display: block;
              width: 35%;
              height: 2px;
              background: #333;
              position: absolute;
              bottom: 0;
            }
          }
          span{
            color: rgba(3,3,3,.7);
          }
        }
        .sp-bd{
          color: #333;
          margin: 80px 0 0 0;
          h4{
            font-size: 20px;
            margin-bottom: 40px;
          }
          p{
            margin-bottom: 60px;
            line-height: 1.5em;
          }
          a{
            color: #333;
            border: 1px solid #333;
            padding: .5em 1em;
            transition: all .3s;

            &:hover{
              color: #333;
            }
          }
        }
      }
    }
  }
  .product{
    padding: 100px 0;
    text-align: center;
    h2{
      margin-bottom: 40px;
      position: relative;
      font-size: 2rem;
      padding-bottom: 20px;
      text-align: center;
      &::after{
        content: "";
        display: block;
        width: 2.5%;
        height: 2px;
        background: #000;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .inner{
      width: 1320px;
      max-width: 80%;
      margin: 0 auto 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .item{
        width: 20%;
        text-align: center;
        ul{
          .item-name{
            margin-bottom: 10px;
            font-size: 18px;
            color: #5C3327;
          }
          .item-kcal{
            font-size: 14px;
          }
        }
      }
    }
    .item-btn{  
      text-align: center;
      border: 1px solid #5C3327;
      color: #5C3327;
      padding: .75rem 2rem;

    }
  }
}

@media (max-width: 1260px){
  main{
    .about{
      .approach{
        flex-wrap: wrap;
        >div{
          width: 50%;
        }
      }
    }
  }
}

@media (max-width: 1024px){
  main{
    .main-visual{
      .main-visual-slider{
        height: 80vh;
        .swiper-slide{
          padding-top: 15%;
          .slide-txt{
            justify-content: flex-start;
            align-items: center;
          }
        }
      }
    }
    .about{
      .about-txt{
        margin: 0 auto;
        max-width: 90%;
        font-size: 14px;
      }
      .approach{
        >div{
          height: 300px;

          p{
            display: none;
          }
        }
      }
    }
    .history{
      .history-bg{
        .history-txt-box{
          .history-txt{
            display: flex;
            justify-content: center;
            align-items: center;
            .swiper{
              .swiper-slide{
                h3{
                  font-size: 32px;
                }
                p{
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
    .special{
      .inner{
        flex-direction: column-reverse;
        .sp-txt{
          text-align: center;
          padding: 0;
          max-width: 90%;
          height: 520px;
          h3{
            &::after{
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
        .sp-img{
          height: 400px;
          margin-bottom: 50px;
          max-width: 100%;
          overflow: hidden;
        }
      }
    }
    .product{
      .inner{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        overflow: hidden;
        .item{
          width: 33.3333%;
          a{
            
            .item-img{
              img{
                max-width: 60%;
              }
            }
          }
          &:last-of-type{
            justify-self: flex-start;
          }
        }
      }
    }
  }
}